<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thangldd.departmentmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DepartmentManagement">
        <activity
            android:name=".ui.utils.AssignEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.utils.ListEmployeeByHometownActivity"
            android:exported="false" />
        <activity
            android:name=".ui.utils.ListEmployeeByDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.department.RemoveDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.department.EditDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.department.AddDepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.RemoveEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.EditEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.employee.AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>